$edit-panel-color: #fff;
$edit-panel-border-color: #535a6b;

$edit-panel-background-color: #222;

$edit-panel-tool-hover-color: #65cef5;
$edit-panel-tool-hover-color-deep: darken($edit-panel-tool-hover-color, 25%);

$edit-panel-tool-active-color: #65cef5;
$edit-panel-tool-active-color-deep: darken($edit-panel-tool-active-color, 25%);

$edit-panel-tool-icon-size: 24px;
