// @import '../../styles/layout/ReactModal';

@mixin ForgotPasswordModal {
  font-family: "ProximaNova-Regular";
  .customer-forgot-password-modal-portal {
    @include ReactModal(450px, 300px);
    .customer-forgot-password-modal {
      .send-instructions {
        .description {
          font-size: 14px;
          line-height: 1.5;
          color: #627382;
          margin-bottom: 10px;
        }
        .email-field {
          position: relative;
          .indicator {
            position: absolute;
            right: 5px;
            top: 4px;
            font-size: 22px;
            font-weight: 300;
            color: #86c276;
          }
          .info {
            color: #86c276;
            margin: 10px 0;
            font-size: 14px;
            line-height: 1.5;
          }
        }
        .send-instructions-btn {
          margin-top: 20px;
          width: 100%;
        }
      }
      .back-to-login {
        text-align: center;
        margin-top: 20px;
        .back-to-login-btn {
          border: none;
          font-size: 0.8rem;
          cursor: pointer;
          .login-text {
            font-weight: bold;
          }
        }
      }
    }
  }
}
