// @import '../../styles/layout/ReactModal';

@mixin ResetPasswordModal {
  .customer-reset-password-modal-portal {
    @include ReactModal(450px, 300px);
    .customer-reset-password-modal {
      .password-field {
        margin-bottom: 12px;
      }
      .confirmed-password-field {
        margin-bottom: 12px;
      }
      .submit-btn {
        margin-bottom: 10px;
      }
    }
  }
}
