// @import '../../styles/layout/ReactModal';
@import './SignUpForm';

@mixin SignUpModal {
  .customer-sign-up-modal-portal {
    @include ReactModal(450px, 400px);
    .customer-sign-up-modal {
      @include SignUpForm;
      .back-to-login {
        text-align: center;
        padding: 20px 0;
        border-bottom: 1px solid lightgray;
        font-size: 0.8rem;
        .back-to-login-btn {
          margin-left: 5px;
          border: none;
          color: #5685e3;
          font-size: 0.8rem;
          cursor: pointer;
        }
      }
      .terms-of-service-and-privacy-policy {
        text-align: center;
        margin-top: 20px;
        color: dimgray;
        font-size: 0.75rem;
      }
    }
  }
}
