.category-select .ant-select-selection {
    background-color: #363636;
}
.category-select .ant-select-arrow {
    color: white;
}
.category-select .ant-select-selection-selected-value {
    color: white;
}