.ReactModalPortal__Promise {
  .edit-pickup-address-confirm-box {
    .confirm-box {
      .context {
        text-align: center;
        h4 {
          max-width: 180px;
          margin-left: auto;
          margin-right: auto;
          font-size: 15px;
          color: #444444;
        }
        p {
          font-size: 14px;
          color: #666666;
        }
      }
    }
  }
}
