$topNavHeight: 50px;

/* rails view pages */
$newManageBlue: #4ba4ea;
$newManageBlack: #181919;
$newManageGray: #dce4ea;
$newManagePanelHeadingGray: #e3eaef;
$newManageCheckboxColor: #4ba4ea; /*old: #69be7b;*/
$iconDarkBlue: #445d71;
$paddingHorizontal: 10%;

/* react pages */
$descriptionColor: #454545;
$descriptionLightColor: rgba(69, 69, 69, 0.8);
$fontBase: 'ProximaNova-Regular';
