@import "redux_shared/common/utilities";

.password-sign-up {
  .form-group {
    background: #ffffff;
    border: 1px solid #e1e1e1;
    border-radius: 3px 3px 0px 0px;
    width: 100%;
    height: 45px;
    margin-bottom: 1px;
    &:focus {
      outline: none;
    }
  }
  .help-block {
		text-align: left;
		font-size: 12px;
		color: #e95664;
		margin-top: 5px;
		margin-bottom: 10px;
  }
  .form-control {
    background: #ffffff;
    border: 0.5px solid #e1e1e1;
    width: 100%;
    height: 45px;
    &:active, &:hover, &:focus {
      border: 1px solid #766398;
    }
  }
  .input_block {
    margin-bottom: 15px;
    input {
      font-size: 0.9rem;
      text-indent: 7px;
      &:active, &:hover, &:focus {
        opacity: 0.8;
        background: #f6f8fa;
      }
      &:focus {
        outline: none;
        outline-offset: none;
      }
    }
  }
  .phone-group {
    position: relative;
    label {
      position: absolute;
      top: 12px;
      left: 10px;
      z-index: 1;
      font-size: 0.9rem;
    }
    input {
      padding-left: 50px;
      @include hide-webkit-input-spinner;
    }
  }
  .button-signup {
    padding: 0.5rem 0.8rem;
    background-image: linear-gradient(-138deg, #766398 0%, #1781a1 100%);
    box-shadow: 0px 6px 11px 0px rgba(0,0,0,0.18);
    border-radius: 3px;
    height: 45px;
    font-family: 'ProximaNova', 'Helvetica', 'Arial', sans-serif;
    font-size: 0.9375rem;
    font-weight: bold;
    color: #ffffff;
    letter-spacing: 0.54px;
    text-align: center;
    line-height: 1.8rem;
    .ico-forward {
      font-size: 1.2rem;
      float: right;
    }
  }

  .terms {
    font-size: 0.8rem;
    color: #777777;
    opacity: 0.85;
    a {
      // font-family: 'ProximaNova-Semibold', 'Helvetica', 'Arial', sans-serif;
      color: #777777;
      &:hover, &:active, &:focus { color: #999; text-decoration: none; }
    }

    &.ni {
      text-align: left;
      margin-left: 25px;
      font-size: 14px;
      padding-bottom: 10px;
      color: #171717;
      a {
        color: #46A3ED;
      }
    }
    
    &.uob {
      text-align: left;
      margin-left: 20px;
      font-size: 0.6rem;
      padding-bottom: 10px;
      color: #171717;
      a {
        color: #46A3ED;
      }
    }
  }

  .tos-pp-checkbox {
    float: left;
    margin-top: 2px;
  }
}
