$modal-header-height: 59px;
$modal-body-height: 700px;
$modal-body-min-height: 500px;
$modal-content-radius: 6px;
$options-min-height: 250px;
$color: white;
$bg-color: #f8fafc;
$tablet-bg: white;
$tablet-bg-gray: #f0f0f0;

.products {

  input.off-screen {
    position: fixed;
    top: -1000px;
    left: -1000px;
  }

  .subtitle {
    // font-family: 'ProximaNova-Semibold', 'Helvetica', 'Arial', sans-serif;
    font-size: 17px;
    color: #363E4A;
    &__info{
      font-family: 'ProximaNova', 'Helvetica', 'Arial', sans-serif;
      font-size: 14px;
      font-weight: 300;
      padding-top: 5px;
    }
  }

  .product-options {
    @include bricks
    @include buttons
    @include dialog($modal-body-height, $modal-content-radius)
    @include image-icons
    @include product-variant

    position: relative;
    min-height: $modal-body-min-height;
    background-color: #fff;
    padding: 0;
    margin: 0;
    border-bottom-left-radius: $modal-content-radius;
    border-bottom-right-radius: $modal-content-radius;
    overflow: hidden;

    .option-buttons {
      background-color: #fff;
      overflow: auto;
      padding: 0 24px;
      position: relative;
      .add-using-color, .add-using-text {
        overflow: auto;
        label {
          color: #627382;
          display: inline-block;
          font-size: 14px;
          font-weight: 400;
          // font-family: 'ProximaNova-Regular';
        }
        .modify-description, .modify-name {
          margin-left: 5px;
          .ico-design {
            color: #888888;
          }
        }
        .tooltips {
          margin-left: 5px;
          .ico-message {
            color: #888888;
          }
        }
        .fields {
          margin-top: 0px;
          .color-options.choices {
            display: inline-block;
            vertical-align: top;
          }
          .control-buttons {
            display: inline-block;
            vertical-align: top;
            .type-chosen {
              display: inline-block;
              vertical-align: top;
              margin-bottom: 16px;
              .or-saperator {
                margin: 0 10px;
                color: #627382;
                font-size: 12px;
                text-transform: uppercase;
              }
            }
          }
          .text-option.choices {
            $space-gap: 10px;
            position: relative;
            width: 100%;
            min-height: 43px;
            overflow: auto;
            background: #ffffff;
            border: 1px solid #c4cdd5;
            border-radius: 2px;
            padding-top: $space-gap;
            padding-left: $space-gap;
            padding-right: $space-gap;
            padding-bottom: 0;
            cursor: auto;
            transition: border-color 0.25s ease-in-out;
            &:focus-within{
              border-color: #4ba4ea;
            }
            .placeholder {
              position: absolute;
              width: calc(100% - 25px);
              top: 10px;
              left: 12px;
              font-size: 14px;
              color: rgba(98,115,130,0.7);
            }
            .enter-here {
              float: left;
              box-shadow: none;
              margin: 0;
              padding: 0;
              background-color: transparent;
              border: 0;
              display: inline;
              width: 10rem;
              height: 21px;
              margin-bottom: $space-gap;
              &:focus {
                outline: 0;
              }
            }
          }

          @include mobile {
            .text-option.choices { min-height: 71px; }
            .control-buttons {
              display: block;
              .type-chosen {
                display: block;
                .or-saperator {
                  display: block;
                  text-align: center;
                  font-size: 12px;
                  line-height: 1.75;
                  margin-top: 12px;
                  margin-bottom: 8px;
                  color: #627382;
                  font-size: 12px;
                  text-transform: uppercase;
                }
              }
            }
          }
        }
      }
    }
    .combination-container {
      display: none;
      height: $modal-body-height - $options-min-height;
      overflow-y: scroll;
      padding: 24px;
      background-color: white;
      &.enlarged {
        border: 0;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        height: auto;
      }
      position: relative;
      .enlarge-btn {
        background: image-url('product_builder/product_options/enlarge-btn.png') no-repeat;
        position: absolute;
        top: 0;
        right: 0;
        height: 27px;
        width: 27px;
        border: 0;
        display: none;
      }
      .info {
        font-family: 'ProximaNova-Light', 'Helvetica', 'Arial', sans-serif;
        font-size: 18px;
        color: #333333;
        line-height: 28px;
        &__bold{
          // font-family: 'ProximaNova-Semibold', 'Helvetica', 'Arial', sans-serif;
          font-size: 17px;
          color: #363E4A;
        }
      }
      .combinations {
        background-color: transparent;
        display: table-caption;
      }
    }

    @include mobile {
      background-color: $tablet-bg;
      .option-buttons {
        background-color: transparent;
        padding: 15px 15px;
        label {
          color: #616161;
          margin-bottom: 7px;
        }
      }

      &.show-combinations {
        background-color: #fff;
      }

      .combination-container {
        padding: 0px 15px;
        height: initial !important;

        .info {
          line-height: 24px;
          margin-bottom: 10px;
          .icon-warning {
            display: block;
            margin-top: 4px;
            height: 30px;
            vertical-align: middle;
            float: left;
          }
        }

        .combinations {
          display: block;
        }
      }
    }
  }
}
