
.side-padding {
  padding-left: 21.5px;
  padding-right: 21.5px;
}
.top-spacing {
  margin-top: 95px;
}
.top-spacing-small {
  margin-top: 15px;
}
.bottom-spacing {
  margin-bottom: 20px;
}
.bottom-spacing-small {
  margin-bottom: 10px;
}

