@mixin react-modal-animate($animate_time) {
  & > * {
    // When the modal is closed, overlay div has no css class
    // This selector should be overridden by the `&--after-open` class below
    opacity: 0;
  }
  .ReactModal__Overlay {
    transition: opacity $animate_time ease-in-out;
    &--after-open { opacity: 1; }
    &--before-close { opacity: 0; }
  }
}
