@mixin ShippingOptionControlUnit {
  .control-unit {
    @include ShippingOptionIcons;
    .icon-check {
      border-bottom: 1px solid #e4ebef;
      @include mobile {
        margin: 0 auto;
        width: 120px;
        position: relative;
      }
    }
    .separator {
      border: none;
      border-left: 1px solid #ecf1f3;
      margin: 0 10px;
      display: inline-block;
      height: 20px;
      vertical-align: middle;
    }
  }

  .button.disable, .button.edit {
    background-color: rgba(0, 0, 0, 0);
    opacity: 0.9;
    color: #575757;
    line-height: 2;
    margin: 5px 0;
    padding: 0;
    &:hover { opacity: 0.5; }
  }

  .button.enable {
    padding-right: 30px;
    padding-left: 30px;
  }

  .button {
    font-size: 14px;
    outline: none;
    border-radius: 1.5px;
  }

  .button.small-button {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 14px;
    border-radius: 3px;
    &:after { display: none; }
  }

  @include mobile {
    .button.disable {
      float: inherit;
      // margin-bottom: -10px;
    }
  }
}
