@import "../mixin/checkbox";

.password-sign-in {
  .form-group {
    background: #ffffff;
    border: 1px solid #e1e1e1;
    border-radius: 3px 3px 0px 0px;
    width: 100%;
    height: 45px;
    margin-bottom: 0px;
  }
  .form-control {
    background: #ffffff;
    border: 0.5px solid #e1e1e1;
    width: 100%;
    height: 45px;
    &:active, &:hover, &:focus {
      border: 1px solid #766398;
    }
  }
  .input_block {
    margin-bottom: 15px;
    input {
      font-size: 14px;
      text-indent: 7px;
      &:active, &:hover, &:focus {
        opacity: 0.8;
        background: #f6f8fa;
      }
    }
  }
  .button-login {
    padding: 6px 12px;
    background-image: linear-gradient(-138deg, #766398 0%, #1781a1 100%);
    box-shadow: 0px 6px 11px 0px rgba(0,0,0,0.18);
    border-radius: 3px;
    height: 45px;
    font-family: 'ProximaNova-Bold', 'Helvetica', 'Arial', sans-serif;
    font-size: 12px;
    color: #ffffff;
    letter-spacing: 0.54px;
    text-align: center;
    line-height: 33px;
  }
  .ico-forward.large {
    font-size: 20px;
    line-height: 29px;
    float: right;
  }
  .remember-me {
    @include custom-checkbox(#343434, #786497);
    position: relative;
    margin-bottom: 1rem;
    label {
      line-height: 22px;
      margin-top: -2px;
    }
  }
  .forgot-password {
    float: right;
    margin-bottom: 1rem;
    font-family: 'ProximaNova-Regular', 'Helvetica', 'Arial', sans-serif;
    font-size: 14px;
    a {
      color: #343434;
      opacity: 0.85;
      &:hover {
        color: #5ca3b7;
      }
    }
  }
}
