@import "select2";
@import 'alt_text_dialog';

$modal-header-height: 59px;
$modal-body-height: 700px;
$modal-body-min-height: 500px;
$modal-content-radius: 6px;

@mixin underline-field ($color) {
  border: none;
  border-bottom: 1px solid $color;
  box-shadow: none;
  background-color: transparent;
}
@mixin webkit-hide-spiner {
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}


#product-form-modal #upload-product-option-image-docker {
  display: none;
}

#product-form-modal .product {
  @include dialog($modal-body-height, $modal-content-radius)
}

#product-form-modal form {
  height: 100%;

  @include mobile {
    padding-bottom: 40px;
  }

  .error-msg{
    padding: 0 10px;
  }

  .form-action {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: auto;
    text-align: center;
    width: 100%;
    height: 50px;
    font-size: 14px;
    &.saving {
      .submit {
        color: transparent;
        &:before {
          content: '';
          width: 100%;
          height: 100%;
          transform: scale(0.6);
          display: inline-block;
          vertical-align: middle;
          cursor: not-allowed;
          background: image_url('ajax-spinner.svg') no-repeat center;
          background-size: contain;
        }
      }
    }
    .submit {
      font-weight: 600;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 7px;
      right: 10px;
      color: white;
      width: 65px;
      height: 35px;
      line-height: 35px;
      border-radius: 3px;
      background-color: #083151;
      outline: none;
      transition: opacity 0.1s ease-out;
      &:hover{ opacity: 0.85; }
    }
    .cancel {
      position: absolute;
      top: 1em;
      left: 2em;
      color: #fff;
      font-weight: 600;
      transition: opacity 0.1s ease-out;
      &:hover{ opacity: 0.85; }
      @include mobile {
        left: 1em;
      }
    }
    &:focus {
      outline: none;
    }
  }

  label.control-label {
    color: #627382;
    // font-family: 'ProximaNova-Regular';
    abbr {
      color: #d62a41;
      border-bottom: none;
      line-height: 1;
      vertical-align: middle;
    }
  }
  @include webkit-hide-spiner;
  input.form-control, textarea.form-control {
    &:focus, &.active {
      border: 1px solid #4ba4ea;
      box-shadow: none;
    }
    @include underline-field(#d7d7d7);
    // font-family: 'ProximaNova-Regular';
    font-size: 0.875rem;
    color: #363e4a;
    background-color: #fff;
    border: 1px solid #c4cdd5;
    border-radius: 4px;
    padding-left: 10px;
    padding-right: 10px;
    height: 37px;
  }
  textarea.form-control{
    height: 85px;
    @include max-tablet {
      height: 68px;
    }
  }
  .input-group {
    position: relative;
    margin-bottom: 0;
    .input-group-addon {
      position: absolute;
      left: 1px;
      top: 1px;
      height: 35px;
      width: 45px;
      color: #627382;
      font-size: 14px;
      line-height: 37px;
      text-align: center;
      border-radius: 4px 0px 0px 4px;
      border-right: 1px solid #c4cdd5;
      background-color: #fafafa;
    }
    input.form-control {
      padding-left: 55px;
    }
  }
  .product-form-switch-full-radius {
    margin-top: -5px;
    margin-bottom: -5px;
    .switch {
      margin-bottom: 10px;
      .switch-paddle {
        width: 40px;
        vertical-align: middle;
        border-radius: 16px;
        border: 1px solid #dfdfdf;
        transition: background-color 0.1s ease-out;
        &:after {
          width: 22px;
          height: 22px;
          left: 0;
          top: 0;
          border-radius: 50%;
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
          transition: margin-left 0.1s ease-out;
        }
      }
      input:checked ~ .switch-paddle::after{ margin-left: 16px; }
      input:checked ~ .switch-paddle{ border-color: #2199e8; }
      .text {
        display: inline-block;
        vertical-align: middle;
        line-height: 32px;
      }
    }
  }

  .product-taxes {
    .product-tax {
      margin-bottom: 1rem;
      .form-group {
        margin-bottom: 0;
        .input-group {
          margin-bottom: 0;
          input {
            margin-bottom: 0;
          }
        }
      }
    }

    @include mobile {
      width: calc(100% - 20px);
      padding: 15px;
      margin: 10px;
      box-shadow: 0 1px 2px 0 rgba(0,0,0,0.17);
    }
  }

  .fieldset {
    padding: 0 10px;
    margin: 0;
    border: none;

    &.inventory{
      margin: 0;
      h5{
        font-size: 1.0625rem;
        color: rgba(0, 0, 0, 0.7);
      }
      .divider{
        display: block;
        width: 100%;
        height: 1px;
        margin: 10px 0 20px;
        opacity: 0.1;
        background-color: #4a4a4a;
      }
      .form-group-block{
        padding-left: 5px;
        padding-right: 5px;
      }
      .form-group {
        padding-left: 10px;
        padding-right: 10px;
      }
    }

    &.shipping-details{
      h5.bold{ margin-bottom: 0; font-size: 1.0625rem; color: rgba(0,0,0,0.7); }
      h6.subheader{ font-size: 0.875rem; color: #363e4a; margin-bottom: 1rem; }
    }

    @include min-tablet {
      &:last-child {
        margin: 0;
      }
    }
  }

  input.error{
    color: #f13d50;
    margin-bottom: 0;
    border-color: #f13d50;
  }
  label.error {
    // font-family: 'ProximaNova-Regular';
    font-size: 0.8125rem;
    line-height: 1rem;
    color: #f13d50;
    margin-top: 5px;
  }

  @include mobile {
    label {
      font-size: 14px;
      line-height: 26px;
    }

    .shipping-details{
      margin: 0 !important;
      .dim-block{
        padding-left: 0 !important;
        padding-right: 0 !important;
      }
      h6.subheader{
        margin-bottom: 0 !important;
      }
    }

    .inventory{
      .form-group{
        padding-left: 5px !important;
        padding-right: 5px !important;
      }
      .switch{
        margin-bottom: 10px !important;
      }
      .switch-paddle {
          transform: scale(1) !important;
          margin-left: 0px !important;
          margin-right: 0px !important;
      }
    }

    .quantity_block{
      margin-top: 10px;
    }

    .input-group-addon,
    input.form-control {
      font-size: 14px;
      height: 37px;
      margin-bottom: 14px;
    }

    textarea.form-control{
      height: 84px;
      margin-bottom: 0;
    }

    .input-group {
      margin-bottom: 0;
    }

    .fieldset {
      padding: 15px 4px 0px;
      margin: 10px 10px 0px;
      background-color: #FFF;
      border: none;

      .mobile-spaceholder-16px { margin-bottom: 16px; }
      .mobile-spaceholder-17px { margin-bottom: 17px; }

      h5 {
        font-size: 15px;
        margin-top: 2px;
        margin-bottom: 6px;
      }

      h6 {
        margin-top: 0px;
        font-size: 13px;
        line-height: 22px;
        color: #555555;
      }

      .control-label {
        margin-top: 15px;
        font-size: 14px;
        line-height: 24px;
      }

      &.inventory {
        padding-top: 11px;

        h5 {
          font-size: 1.0625rem;
          color: rgba(0, 0, 0, 0.7);
          margin-bottom: 14px;
        }
        .control-label {
          margin-top: 1px;
        }

        .switch-paddle {
          transform: scale(0.6875);
          margin-left: -10px;
          margin-right: -10px;
        }
        .switch {
          margin: 0;
        }
      }
    }
  }
}
