#product-form-modal .product-image-uploader {
  @include min-tablet {
    height: 430px;
    padding-top: 8px;
  }

  min-height: 278px;
  background-color: #f9f9f9;
  border-radius: 5px;
  position: relative;
  margin-bottom: -15px;

  .images {
    width: 240px;
    margin: 0 auto;
    overflow-x: hidden;
    overflow-y: hidden;
    .item.item-template {
      display: none;
    }
    .item {
      position: relative;
      height: 120px;
      width: 120px;
      float: left;
      padding: 10px;
      overflow: hidden;
      label {
        width: 100px;
        height: 100px;
        background: image-url('missing.jpg') center / cover;
        filter: brightness(92.7%);
        -webkit-filter: brightness(92.7%);
      }
      input[type='file'] {
        display: none;
      }
      img {
        height: 100px;
        width: 100px;
        object-fit: contain;
        &:not([src]) { display: none; }
      }
      .flagged-img {
        background: image-url('red-flag.png') center / cover;
      }
      .delete {
        display: block;
        width: 20px;
        height: 20px;
        position: absolute;
        top: 0;
        right: 0;
        padding: 2px;
        border-radius: 50%;
        line-height: 1em;
        background-color: #d5dade;
        cursor: pointer;
        z-index: 10;
        &:hover, &:focus, &:active {
          background-color: $defaultGrey;
          text-decoration: none;
        }
        &::before {
          font-size: 16px;
          color: white;
          vertical-align: top;
        }
      }
      .alt-text {
        display: block;
        width: 100%;
        height: 20px;
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 0;
        border-radius: 0%;
        line-height: 1em;
        background-color: #666666;
        cursor: pointer;
        z-index: 10;
        opacity: 0.7;
        color: #FFFFFF;
        font-size: 12px;
        font-weight: 600;
        line-height: 22px;
        text-align: center;
        &:hover, &:focus, &:active {
          background-color: $defaultGrey;
          text-decoration: none;
        }
      }
      &.uploading {
        img {
          background: image-url('ajax-spinner.svg') no-repeat center;
        }
      }
    }
    .add-btn {
      height: 100px;
      width: 100px;
      margin: 10px;
      background-color: rgba(150, 167, 182, 0.3);
      float: left;
      text-align: center;
      line-height: 100px;
      font-size: 48px;
      position: relative;
      input {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        opacity: 0;
        margin: 0;
        cursor: pointer;
      }
      .ico-plus-thin{
        &:before{
          vertical-align: middle;
          font-size: 64px; color: #96a7b6;
        }
      }
    }
  }

  .upload {
    padding-top: 20px;

    @include min-tablet {
      padding-top: 80px;
    }

    text-align: center;
    color: #999999;
    font-size: 14px;

    img {
      height: 55px;
      margin: 20px 0 20px 0;
    }

    p {
      font-size: 0.875rem;
      color: #627382;
      display: block;
      width: 210px;
      margin: auto;
      -webkit-font-smoothing: auto;
    }

    a.btn {
      display: block;
      width: 128px;
      height: 36px;
      margin: auto;
      font-size: 0.875rem;
      font-weight: 600;
      position: relative;
      line-height: 36px;
      border-width: 0;
      overflow: hidden;
      background-color: #4ba4ea;
      color: white;
      opacity: 1;
      margin-top: 15px;
      margin-bottom: 20px;
      border-radius: 3px;

      &:hover { opacity: 1; }

      #upload-button {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        margin: 0;
        cursor: pointer;
      }
    }

    p.upload-reminder {
      display: block;
      width: 200px;
      margin: auto;
      color: #a4afbb;
      font-size: 0.875rem;
    }

  } // end of .upload

  .upload-full {
    font-family: 'ProximaNova-Regular' !important;
    position: absolute;
    top: auto;
    left: 0;
    right: 0;
    bottom: 20px;
    text-align: center;
    margin-top: 15px;
    font-family: OpenSans;
    font-size: 14px;
    color: #96a7b6;
  }

  .ico-upload {
    display: block;
    font-size: 90px;
    line-height: 1em;
  }

  .hidden {
    display: none;
  }

  @include mobile {
    .upload > img {
      height: 52px;
      margin-top: 16px;
      margin-bottom: 17px;
    }
    .upload > p:not(.upload-reminder) {
      line-height: 20px;
    }
    .upload > a.btn {
      margin-top: 20px;
      margin-bottom: 21px;
    }
    .upload-full { bottom: 8px; }
  }

} // end of .product-image-uploader
