.P {
  position: relative; // for editor, hover-text parent

  margin-bottom: $text-default-margin-bottom;
  font-weight: 200;
  min-height: 20px; // need more update, for empty content of element

  display: block;
  white-space: pre-wrap;
  word-wrap: break-word;
  text-transform: none;
}
