.Layout {
  .section-container {
    position: relative;
    padding: 50px 55px;

    &.no-padding { padding: 0; }

    @include mobile {
      padding: 50px 20px;
      &.no-padding { padding: 0; }
    }
  }

  .layout-vertical-middle {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    float: none !important;

    @include max-tablet { display: block; }
  }

  .img-align-center {
    .Img, .ImageWithVideo {
      display: block;
      margin-right: auto;
      margin-left: auto;
    }
  }

  .small-full-width-button {
    .Btn {
      @include mobile {
        color: #fff !important;
        background: #34495E;
        display: block;
        width: 100%;
      }
    }
  }

  // editor overwrites
  .small-full-width-button .editor[data-tag-name='Btn'] {
    @include mobile {
      width: 100%;
    }
  }

  .editor-abs-img .editor[data-tag-name=Img] {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .editor-fix-background .editor[data-tag-name=Background] {
    z-index: 0;
  }

}
