.social-media-share {
  padding-top: 2em;
  position: relative;
  .btn-share {
    font-family: 'ProximaNova-Regular', 'Helvetica', 'Arial', sans-serif;
    font-size: 15px;
    color: #777777;
    line-height: 24px;
    text-align: left;
    background: #ffffff;
    border: 1px solid #e0e0e0;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.05);
    border-radius: 3px;
    height: 43px;
    .iko-share {
      display: inline-block;
      vertical-align: middle;
      line-height: 30px;
      font-size: 1.6em;
      color: #333333;
    }
    .btn-text {
      display: inline-block;
      vertical-align: middle;
      line-height: 30px;
      margin: 0 5px;
    }
    @media only screen and (max-device-width: 320px) {
      .btn-text {
        display: none;
      }
    }
  }
  .dialog {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    margin-left: 1em;
    -webkit-transition: all .2s;
       -moz-transition: all .2s;
        -ms-transition: all .2s;
         -o-transition: all .2s;
            transition: all .2s;
    max-width: 100%;
    overflow: hidden;
    opacity: 1;
    @media only screen and (max-device-width: 320px) {
      margin-left: 0.3em;
    }
    &.hidden {
      display: inline-block !important;
      opacity: 0;
      pointer-events: none;
      // max-width: 0; // collapse effect
    }
    $arrow-size: 7px;
    .arrow-right {
      position: absolute;
      top: 50%;
      left: 1px;
      margin-top: -$arrow-size;
      width: 0;
      height: 0;
      border-top: $arrow-size solid transparent;
      border-bottom: $arrow-size solid transparent;
      border-right: $arrow-size solid #25d366;
    }
    .share-list {
      width: 258px;
      line-height: 1em;
      margin: 0;
      margin-left: $arrow-size;
      padding: 0;
      border: 0px solid transparent;
      list-style-type: none;
      border-radius: 3px;
      overflow: hidden;
      .item {
        float: left;
        .icon,.ikon {
          font-size: 43px;
          line-height: 43px;
          &.iko-whatsapp {
            color: white;
            background-color: #25d366;
          }
          &.iko-messenger {
            color: white;
            background-color: #0084ff;
          }
          &.ico-fb {
            color: white;
            background-color: #45679E;
          }
          &.ico-twitter {
            color: white;
            background-color: #28B0EF;
          }
          &.ico-gplus {
            color: white;
            background-color: #F93E43;
          }
          &.ico-pinterest {
            color: white;
            background-color: #CB2028;
          }
          &.ico-linkedin {
            color: white;
            background-color: #0285B8;
          }
        }
        .icon:before , .ikon:before{
          cursor: pointer;
          margin-top: 0;
          margin-bottom: 0;
          margin-right: 0;
          margin-left: 0;
          display: inline;
          height: 1em;
          width: 1em;
          vertical-align: top;
        }
      }
      @include mobile {
        width: 180px;
        .item {
          float: left;
          .icon,.ikon {
            font-size: 30px;
            line-height: 30px;
          }
        }    
      }
    }
  }
}


