.form-inline {

  input[type=text].form-control {

    background-color: #f5f6f7;
    color: #ddd;
    border-radius: 4px;
    border: 0;
    padding: 19px 15px;
    width: 100%;

    &:focus, &:active, &:hover { border: 0; }

  }

  .form-group {
    margin-bottom: 0;
    width: 100%;
  }

}
