@font-face {
	font-family:"shpmtcd-icons";
	src:font-url("shpmtcd-icons.eot");
	src:font-url("shpmtcd-icons.eot?#iefix") format("embedded-opentype"),
		font-url("shpmtcd-icons.woff") format("woff"),
		font-url("shpmtcd-icons.ttf") format("truetype");
	font-weight:normal;
	font-style:normal;
}
