[class^="shpmtcdicon-"]:before,
[class*=" shpmtcdicon-"]:before {
	font-family:"shpmtcd-icons";
	display:inline-block;
	line-height:1;
	font-weight:normal;
	font-style:normal;
	speak:none;
	text-decoration:inherit;
	text-transform:none;
	text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
}



/* Icons */


.shpmtcdicon-account:before {
	content:"\f101";
}



.shpmtcdicon-add-block:before {
	content:"\f102";
}



.shpmtcdicon-add-square:before {
	content:"\f103";
}



.shpmtcdicon-add:before {
	content:"\f104";
}



.shpmtcdicon-alert-error:before {
	content:"\f105";
}



.shpmtcdicon-alert-info:before {
	content:"\f106";
}



.shpmtcdicon-alert-success:before {
	content:"\f107";
}



.shpmtcdicon-alert-warning:before {
	content:"\f108";
}



.shpmtcdicon-align-center:before {
	content:"\f109";
}



.shpmtcdicon-align-left:before {
	content:"\f10a";
}



.shpmtcdicon-align-right:before {
	content:"\f10b";
}



.shpmtcdicon-amount:before {
	content:"\f10c";
}



.shpmtcdicon-arrow-down-large:before {
	content:"\f10d";
}



.shpmtcdicon-arrow-down:before {
	content:"\f10e";
}



.shpmtcdicon-arrow-left-large:before {
	content:"\f10f";
}



.shpmtcdicon-arrow-left-thin:before {
	content:"\f110";
}



.shpmtcdicon-arrow-left:before {
	content:"\f111";
}



.shpmtcdicon-arrow-right-large:before {
	content:"\f112";
}



.shpmtcdicon-arrow-right-thin:before {
	content:"\f113";
}



.shpmtcdicon-arrow-right:before {
	content:"\f114";
}



.shpmtcdicon-arrow-up-large:before {
	content:"\f115";
}



.shpmtcdicon-arrow-up:before {
	content:"\f116";
}



.shpmtcdicon-available-bold:before {
	content:"\f117";
}



.shpmtcdicon-available:before {
	content:"\f118";
}



.shpmtcdicon-back:before {
	content:"\f119";
}



.shpmtcdicon-block-down:before {
	content:"\f11a";
}



.shpmtcdicon-block-up:before {
	content:"\f11b";
}



.shpmtcdicon-bold:before {
	content:"\f11c";
}



.shpmtcdicon-bulb:before {
	content:"\f11d";
}



.shpmtcdicon-business-info:before {
	content:"\f11e";
}



.shpmtcdicon-button:before {
	content:"\f11f";
}



.shpmtcdicon-calendar-neo:before {
	content:"\f120";
}



.shpmtcdicon-calendar:before {
	content:"\f121";
}



.shpmtcdicon-cancel-order:before {
	content:"\f122";
}



.shpmtcdicon-caps:before {
	content:"\f123";
}



.shpmtcdicon-cart-empty:before {
	content:"\f124";
}



.shpmtcdicon-category:before {
	content:"\f125";
}



.shpmtcdicon-checked:before {
	content:"\f126";
}



.shpmtcdicon-circle-email:before {
	content:"\f127";
}



.shpmtcdicon-circle-phone:before {
	content:"\f128";
}



.shpmtcdicon-close-thin:before {
	content:"\f129";
}



.shpmtcdicon-close:before {
	content:"\f12a";
}



.shpmtcdicon-color-picker:before {
	content:"\f12b";
}



.shpmtcdicon-commerce:before {
	content:"\f12c";
}



.shpmtcdicon-connect:before {
	content:"\f12d";
}



.shpmtcdicon-creditcard-cvv:before {
	content:"\f12e";
}



.shpmtcdicon-cropper-cancel:before {
	content:"\f12f";
}



.shpmtcdicon-cropper-larger-new:before {
	content:"\f130";
}



.shpmtcdicon-cropper-larger:before {
	content:"\f131";
}



.shpmtcdicon-cropper-reset-new:before {
	content:"\f132";
}



.shpmtcdicon-cropper-reset:before {
	content:"\f133";
}



.shpmtcdicon-cropper-rotate-new:before {
	content:"\f134";
}



.shpmtcdicon-cropper-rotate:before {
	content:"\f135";
}



.shpmtcdicon-cropper-save:before {
	content:"\f136";
}



.shpmtcdicon-cropper-smaller-new:before {
	content:"\f137";
}



.shpmtcdicon-cropper-smaller:before {
	content:"\f138";
}



.shpmtcdicon-cropper-time:before {
	content:"\f139";
}



.shpmtcdicon-customer:before {
	content:"\f13a";
}



.shpmtcdicon-dashboard:before {
	content:"\f13b";
}



.shpmtcdicon-delivery:before {
	content:"\f13c";
}



.shpmtcdicon-design:before {
	content:"\f13d";
}



.shpmtcdicon-desktop:before {
	content:"\f13e";
}



.shpmtcdicon-discount-name:before {
	content:"\f13f";
}



.shpmtcdicon-discount-type:before {
	content:"\f140";
}



.shpmtcdicon-discount:before {
	content:"\f141";
}



.shpmtcdicon-domain:before {
	content:"\f142";
}



.shpmtcdicon-done-circled-bg:before {
	content:"\f143";
}



.shpmtcdicon-editor-tool-align-center:before {
	content:"\f144";
}



.shpmtcdicon-editor-tool-align-left:before {
	content:"\f145";
}



.shpmtcdicon-editor-tool-align-right:before {
	content:"\f146";
}



.shpmtcdicon-editor-tool-bold:before {
	content:"\f147";
}



.shpmtcdicon-editor-tool-button-large:before {
	content:"\f148";
}



.shpmtcdicon-editor-tool-button-medium:before {
	content:"\f149";
}



.shpmtcdicon-editor-tool-button-small:before {
	content:"\f14a";
}



.shpmtcdicon-editor-tool-caps:before {
	content:"\f14b";
}



.shpmtcdicon-editor-tool-decrease:before {
	content:"\f14c";
}



.shpmtcdicon-editor-tool-delete:before {
	content:"\f14d";
}



.shpmtcdicon-editor-tool-image:before {
	content:"\f14e";
}



.shpmtcdicon-editor-tool-increase:before {
	content:"\f14f";
}



.shpmtcdicon-editor-tool-italic:before {
	content:"\f150";
}



.shpmtcdicon-editor-tool-link:before {
	content:"\f151";
}



.shpmtcdicon-editor-tool-order:before {
	content:"\f152";
}



.shpmtcdicon-editor-tool-paint-downward:before {
	content:"\f153";
}



.shpmtcdicon-editor-tool-paint-upward:before {
	content:"\f154";
}



.shpmtcdicon-editor-tool-setup:before {
	content:"\f155";
}



.shpmtcdicon-editor-tool-video:before {
	content:"\f156";
}



.shpmtcdicon-email:before {
	content:"\f157";
}



.shpmtcdicon-enter:before {
	content:"\f158";
}



.shpmtcdicon-export:before {
	content:"\f159";
}



.shpmtcdicon-fb:before {
	content:"\f15a";
}



.shpmtcdicon-financial-info:before {
	content:"\f15b";
}



.shpmtcdicon-flag:before {
	content:"\f15c";
}



.shpmtcdicon-forward:before {
	content:"\f15d";
}



.shpmtcdicon-global:before {
	content:"\f15e";
}



.shpmtcdicon-gplus:before {
	content:"\f15f";
}



.shpmtcdicon-help:before {
	content:"\f160";
}



.shpmtcdicon-icon-signup:before {
	content:"\f161";
}



.shpmtcdicon-ideal:before {
	content:"\f162";
}



.shpmtcdicon-image:before {
	content:"\f163";
}



.shpmtcdicon-info:before {
	content:"\f164";
}



.shpmtcdicon-italic:before {
	content:"\f165";
}



.shpmtcdicon-link:before {
	content:"\f166";
}



.shpmtcdicon-linkedin:before {
	content:"\f167";
}



.shpmtcdicon-manage:before {
	content:"\f168";
}



.shpmtcdicon-menu-additional:before {
	content:"\f169";
}



.shpmtcdicon-menu-billing:before {
	content:"\f16a";
}



.shpmtcdicon-menu-chat:before {
	content:"\f16b";
}



.shpmtcdicon-menu-customers:before {
	content:"\f16c";
}



.shpmtcdicon-menu-dashboard:before {
	content:"\f16d";
}



.shpmtcdicon-menu-discount:before {
	content:"\f16e";
}



.shpmtcdicon-menu-domain:before {
	content:"\f16f";
}



.shpmtcdicon-menu-edit-site:before {
	content:"\f170";
}



.shpmtcdicon-menu-financial:before {
	content:"\f171";
}



.shpmtcdicon-menu-ga:before {
	content:"\f172";
}



.shpmtcdicon-menu-help:before {
	content:"\f173";
}



.shpmtcdicon-menu-marketing:before {
	content:"\f174";
}



.shpmtcdicon-menu-marketplace:before {
	content:"\f175";
}



.shpmtcdicon-menu-orders:before {
	content:"\f176";
}



.shpmtcdicon-menu-payment:before {
	content:"\f177";
}



.shpmtcdicon-menu-products:before {
	content:"\f178";
}



.shpmtcdicon-menu-profile:before {
	content:"\f179";
}



.shpmtcdicon-menu-sap:before {
	content:"\f17a";
}



.shpmtcdicon-menu-seo:before {
	content:"\f17b";
}



.shpmtcdicon-menu-setup:before {
	content:"\f17c";
}



.shpmtcdicon-menu-shipping:before {
	content:"\f17d";
}



.shpmtcdicon-menu-shopping:before {
	content:"\f17e";
}



.shpmtcdicon-menu-signout:before {
	content:"\f17f";
}



.shpmtcdicon-menu-store:before {
	content:"\f180";
}



.shpmtcdicon-menu-taxes:before {
	content:"\f181";
}



.shpmtcdicon-menu:before {
	content:"\f182";
}



.shpmtcdicon-message:before {
	content:"\f183";
}



.shpmtcdicon-minus:before {
	content:"\f184";
}



.shpmtcdicon-mobile:before {
	content:"\f185";
}



.shpmtcdicon-more:before {
	content:"\f186";
}



.shpmtcdicon-move:before {
	content:"\f187";
}



.shpmtcdicon-multichannel:before {
	content:"\f188";
}



.shpmtcdicon-nav-top-reorder:before {
	content:"\f189";
}



.shpmtcdicon-new-window:before {
	content:"\f18a";
}



.shpmtcdicon-options:before {
	content:"\f18b";
}



.shpmtcdicon-page-change-template:before {
	content:"\f18c";
}



.shpmtcdicon-page-cover:before {
	content:"\f18d";
}



.shpmtcdicon-page-edit-css:before {
	content:"\f18e";
}



.shpmtcdicon-page-element:before {
	content:"\f18f";
}



.shpmtcdicon-page-fonts:before {
	content:"\f190";
}



.shpmtcdicon-page-footer:before {
	content:"\f191";
}



.shpmtcdicon-page-form:before {
	content:"\f192";
}



.shpmtcdicon-page-forms:before {
	content:"\f193";
}



.shpmtcdicon-page-header:before {
	content:"\f194";
}



.shpmtcdicon-page-layout:before {
	content:"\f195";
}



.shpmtcdicon-page-slider:before {
	content:"\f196";
}



.shpmtcdicon-page-text:before {
	content:"\f197";
}



.shpmtcdicon-page-thumb:before {
	content:"\f198";
}



.shpmtcdicon-page:before {
	content:"\f199";
}



.shpmtcdicon-pattern-picker:before {
	content:"\f19a";
}



.shpmtcdicon-payment:before {
	content:"\f19b";
}



.shpmtcdicon-pinterest:before {
	content:"\f19c";
}



.shpmtcdicon-play:before {
	content:"\f19d";
}



.shpmtcdicon-plus-thin:before {
	content:"\f19e";
}



.shpmtcdicon-plus:before {
	content:"\f19f";
}



.shpmtcdicon-printer:before {
	content:"\f1a0";
}



.shpmtcdicon-product-add:before {
	content:"\f1a1";
}



.shpmtcdicon-product-import:before {
	content:"\f1a2";
}



.shpmtcdicon-products:before {
	content:"\f1a3";
}



.shpmtcdicon-profile:before {
	content:"\f1a4";
}



.shpmtcdicon-publish:before {
	content:"\f1a5";
}



.shpmtcdicon-refund:before {
	content:"\f1a6";
}



.shpmtcdicon-remove:before {
	content:"\f1a7";
}



.shpmtcdicon-resize:before {
	content:"\f1a8";
}



.shpmtcdicon-search:before {
	content:"\f1a9";
}



.shpmtcdicon-select:before {
	content:"\f1aa";
}



.shpmtcdicon-settings:before {
	content:"\f1ab";
}



.shpmtcdicon-share:before {
	content:"\f1ac";
}



.shpmtcdicon-shipping-info:before {
	content:"\f1ad";
}



.shpmtcdicon-shipping:before {
	content:"\f1ae";
}



.shpmtcdicon-signin:before {
	content:"\f1af";
}



.shpmtcdicon-signup:before {
	content:"\f1b0";
}



.shpmtcdicon-subcategory:before {
	content:"\f1b1";
}



.shpmtcdicon-switch-look:before {
	content:"\f1b2";
}



.shpmtcdicon-tablet:before {
	content:"\f1b3";
}



.shpmtcdicon-tag-left:before {
	content:"\f1b4";
}



.shpmtcdicon-tag-right:before {
	content:"\f1b5";
}



.shpmtcdicon-tax:before {
	content:"\f1b6";
}



.shpmtcdicon-tick:before {
	content:"\f1b7";
}



.shpmtcdicon-time:before {
	content:"\f1b8";
}



.shpmtcdicon-trash:before {
	content:"\f1b9";
}



.shpmtcdicon-truck:before {
	content:"\f1ba";
}



.shpmtcdicon-twitter:before {
	content:"\f1bb";
}



.shpmtcdicon-upload:before {
	content:"\f1bc";
}



.shpmtcdicon-video:before {
	content:"\f1bd";
}



.shpmtcdicon-view-site:before {
	content:"\f1be";
}



.shpmtcdicon-view:before {
	content:"\f1bf";
}



.shpmtcdicon-visible-off:before {
	content:"\f1c0";
}



.shpmtcdicon-visible:before {
	content:"\f1c1";
}



.shpmtcdicon-warning-triangle-bg:before {
	content:"\f1c2";
}



.shpmtcdicon-warning-triangle:before {
	content:"\f1c3";
}



.shpmtcdicon-warning:before {
	content:"\f1c4";
}



.shpmtcdicon-whatis:before {
	content:"\f1c5";
}



.shpmtcdicon-zen-achieve:before {
	content:"\f1c6";
}



.shpmtcdicon-zen-box:before {
	content:"\f1c7";
}



.shpmtcdicon-zen-cash-out:before {
	content:"\f1c8";
}



.shpmtcdicon-zen-create-account:before {
	content:"\f1c9";
}



.shpmtcdicon-zen-create-flashsale:before {
	content:"\f1ca";
}



.shpmtcdicon-zen-digital-advertising:before {
	content:"\f1cb";
}



.shpmtcdicon-zen-doc:before {
	content:"\f1cc";
}



.shpmtcdicon-zen-eco:before {
	content:"\f1cd";
}



.shpmtcdicon-zen-export:before {
	content:"\f1ce";
}



.shpmtcdicon-zen-favorite:before {
	content:"\f1cf";
}



.shpmtcdicon-zen-finalcial:before {
	content:"\f1d0";
}



.shpmtcdicon-zen-grow:before {
	content:"\f1d1";
}



.shpmtcdicon-zen-ideal:before {
	content:"\f1d2";
}



.shpmtcdicon-zen-menu-pos:before {
	content:"\f1d3";
}



.shpmtcdicon-zen-multi-currency:before {
	content:"\f1d4";
}



.shpmtcdicon-zen-multi-user:before {
	content:"\f1d5";
}



.shpmtcdicon-zen-notify:before {
	content:"\f1d6";
}



.shpmtcdicon-zen-order-neo:before {
	content:"\f1d7";
}



.shpmtcdicon-zen-publish:before {
	content:"\f1d8";
}



.shpmtcdicon-zen-scale:before {
	content:"\f1d9";
}



.shpmtcdicon-zen-search-off:before {
	content:"\f1da";
}



.shpmtcdicon-zen-search:before {
	content:"\f1db";
}



.shpmtcdicon-zen-service:before {
	content:"\f1dc";
}



.shpmtcdicon-zen-share:before {
	content:"\f1dd";
}



.shpmtcdicon-zen-tag:before {
	content:"\f1de";
}



.shpmtcdicon-zen-top-up:before {
	content:"\f1df";
}



.shpmtcdicon-zen-triggle:before {
	content:"\f1e0";
}
