@import "redux_shared/mixin/fonts";

@mixin confirm-content {
  .ReactModal__Content.confirm-box {
    .assign-subdomain-name-confirm-content {
      background-color: #FFF;
      padding: 20px;
      .title {
        @include bold;
        font-size: 15px;
        font-style: normal;
        font-stretch: normal;
        text-align: center;
        line-height: 1.5;
        letter-spacing: normal;
        color: #444444;
        margin-left: 5px;
        margin-right: 5px;
        .canonical-name {
          color: #3b9be3;
        }
      }
      p {
        font-size: 14px;
        color: #666666;
        line-height: 1.5;
        letter-spacing: normal;
        margin: 0;
      }
    }
  }
}
