
.icon-twitter:before { content: '\e800'; } /* '' */
.icon-btn-large:before { content: '\e801'; } /* '' */
.icon-btn-regular:before { content: '\e802'; } /* '' */
.icon-btn-small:before { content: '\e803'; } /* '' */
.icon-mail:before { content: '\e804'; } /* '' */
.icon-icon-zomato:before { content: '\e805'; } /* '' */
.icon-gplus:before { content: '\e806'; } /* '' */
.icon-facebook:before { content: '\e807'; } /* '' */
.icon-instagram:before { content: '\e808'; } /* '' */
.icon-linkedin:before { content: '\e809'; } /* '' */
.icon-pinterest:before { content: '\e80a'; } /* '' */
.icon-cart:before { content: '\e80d'; } /* '' */
.icon-circle:before { content: '\e80e'; } /* '' */
.icon-paint:before { content: '\e810'; } /* '' */
.icon-phone:before { content: '\e811'; } /* '' */
.icon-search:before { content: '\e812'; } /* '' */
.icon-text:before { content: '\e813'; } /* '' */
.icon-tick:before { content: '\e814'; } /* '' */
.icon-icon-askfm:before { content: '\e815'; } /* '' */
.icon-icon-flickr:before { content: '\e816'; } /* '' */
.icon-icon-tumblr:before { content: '\e817'; } /* '' */
.icon-icon-vimeo:before { content: '\e818'; } /* '' */
.icon-icon-youtube:before { content: '\e819'; } /* '' */