$pick-ups-modal-header-height: 50px;

$pick-ups-modal-content-width: 810px;
$pick-ups-modal-content-height: 485px;

$pick-ups-modal-background-blue: $newManageBlue;
$pick-ups-modal-background-grey: #f7f9fa;
