.info {
  .title {
    margin-bottom: 6px;

    .icon {
      width: 38.7px;
      margin-right: 10px;
    }
  }

  .description {
    font-size: 14px;
    line-height: 1.5;
    text-align: left;
    color: #636b7d;
  }

  a {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.29;
    text-align: left;
    color: #3b9be3;
  }
}
