$tooltip-bg-color: white;
$tooltip-shadow-color: rgba(0,0,0,0.12);
$squares-width: 10px;
$triangle-height: ($squares-width * 1.414 / 2 - 1);

@mixin DefaultGstInTips {
  .default-gst-in-tips {
    width: 360px;
    background-color: $tooltip-bg-color !important;
    opacity: 1 !important;
    color: #474747;
    box-shadow: $tooltip-shadow-color 0 1px 2px 1px;
    &:after {
      display: none;
    }
    .triangle-shape {
      height: $squares-width;
      width: $squares-width;
      background-color: $tooltip-bg-color;
      transform: rotateZ(45deg);
      transform-origin: center;
      position: absolute;
      right: auto;
      bottom: auto;
      top: 47px !important;
      left: 73px !important;
      box-shadow: $tooltip-shadow-color 2px 2px 2px 0;
    }
  }
}
