$placeholderColor: #798c9c;

@mixin FormHongKong {
  .form-hongkong {
    @include RateInput;
    @include TextInputOverwrite;
    @include SaveButton;

    & > .title {
      font-size: 21px;
      margin-bottom: 19px;
    }
    .panel {
      background-color: white;
      min-width: 300px;
      color: #333333;
      padding: 15px;
      overflow: auto;
      padding: 20px 35px;
      margin-bottom: 20px;
      > label {
        display: inline-block;
        color: #444444;
      }
      .title {
        font-weight: 400px;
      }
      .checkbox-primary {
        display: inline-block;
        width: 2rem;
        margin-right: 0.625rem;
      }
      .vat-rate {
        width: 70px;
        height: 44px;
        margin: 1rem 2.6rem 1.2rem;
        text-align: right;
        font-size: 14px;
        border-radius: 2px;
        &:hover {
          border-color: #4ba4ea;
        }
        padding: 10px;
        .percent-sign {
          text-align: left;
        }
        .rate-input-field {
          @include PlaceholderColor($placeholderColor);
        }
      }
      .vat-number {
        @include PlaceholderColor($placeholderColor);
        width: 322px;
        height: 44px;
        margin: 1rem 2.6rem 0.5rem;
        padding-left: 33px;
        font-size: 14px;
        box-shadow: none;
        border: 1px solid #cad5da;
        &:hover {
          border-color: #4ba4ea;
        }
      }
    }
  }
}
