@mixin AramexDimensions {
  .aramex-dimensions {
    text-align: left;
    padding: 0 10px 10px 10px;
    .weight-field {
      @include InlineField;
      margin-bottom: 1rem;
      label {
        font-family: 'ProximaNova-Regular', 'Helvetica', 'Arial', sans-serif;
        font-size: 14px;
        color: #212121;
        font-weight: bold;
      }
    }
    .field {
      margin-bottom: 1em;
      @include PotraitField;
      label {
        color: #aaaaaa;
        abbr {
          color: #aaaaaa;
        }
      }
      input.length, input.width, input.height {
        color: #555555;
      }
    }
    .submit-btn {
      border-radius: 3px;
      font-weight: bold;
      color: white;
      background-color: #69be7b;
      padding-left: 4rem;
      padding-right: 4rem;
    }
  }
}
