@mixin react-select {
  .Select {
    &.is-focused {
      .Select-control {
        border: 1px solid #4ba4ea;
      }
      .Select-placeholder,
      .Select-value {
        padding-left: 23px;
        padding-top: 5px;
        padding-bottom: 5px;
      }
    }
    &.is-open {
      .Select-control {
        border-left: 1px solid #4ba4ea;
        border-top: 1px solid #4ba4ea;
        border-right: 1px solid #4ba4ea;
      }
      .Select-menu-outer {
        border-left: 1px solid #4ba4ea;
        border-right: 1px solid #4ba4ea;
        border-bottom: 1px solid #4ba4ea;
      }
    }
  }
  .Select-control {
    margin-top: 2px;
    border: none;
    padding: 5px;
    border-radius: 0;
    background-color: #fefefe;
    box-shadow: none;
    .Select-placeholder,
    .Select-value {
      height: 48px;
      padding-left: 24px;
      padding-top: 6px;
      padding-bottom: 6px;
    }
    .Select-input {
      padding-left: 18px;
    }
  }
}

@mixin placeholder-color($color) {
  color: $color;
  &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: $color;
  }
  &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: $color;
    opacity: 1;
  }
  &::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: $color;
    opacity: 1;
  }
  &:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $color;
  }
}
