@mixin FilterTab {
  .ant-tabs {
    border-radius: $borderRadiusMinor;
    box-shadow: $boxShadowMinor;
    background: #fff;

    .ant-tabs-nav {
      div:nth-of-type(2) {
        margin-left:20px;
      }
      .ant-tabs-tab-active {
        font-family: $fontMedium;
        color: #363E4A;
      }
    }
  }
}

