@mixin OrderPagination {
  .ant-pagination-jump-prev,
  .ant-pagination-jump-next {
    &:after {
      display: inline-block;
    }
  }

  .customer__name {
    text-overflow: ellipsis; 
    white-space: nowrap;
    overflow: hidden;
    max-width: 177px;
  }

  .order-pagination {
    padding: 19px 34px;
    background-color: #f5f7f9;
    border-right: 1px solid #f5f7f9;
    font-family: ProximaNova-Regular;
    font-size: 14px;

    .export-btn {
      margin-right: 10px;
    }

    .status {
      color: #666;
      line-height: 3;
    }

    .pagination {
      float: right;

      a, span {
        color: #333333;
        opacity: 0.3;
        font-size: 12px;

        padding: 6px 12px;
        line-height: 1.42857;

        &.current {
          color: #4ba4ea;
          opacity: 1;
        }
        &:not(.noclick):hover {
          opacity: 1;
        }
        &.noclick {
          cursor: default;
        }
      }
    }
  }
}
