@mixin InvoiceFooter {
  .powered__by {
    color: inherit;
    text-decoration: none;
  }

  @media print {
    .powered__by {
      div {
        display: inline-block;
      }
      &:after {
        /* don't show url while printing */
        content: none !important;
      }
    }
  }
}