.shopfront {

  // bootstrap
  .modal {
    display: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    -webkit-overflow-scrolling: touch;
    outline: 0;
  }
  .mini-site * {
    height: 0;
    text-indent: -9999px;

    hr {
      border-style: none;
    }

    ul {
      list-style-type: none;
    }
  }
}
