$defaultHeaderFontColor: #000;
$defaultParagraphFontColor: #333;

$defaultBtnHoverColor: #34495E;
$defaultBtnColor: #FFF;
$defaultBtnFontColor: #000;
$defaultBtnHoverFontColor: #FFF;

$defaultMenuBGColor: #000;
$defaultMenuFontColor: #fff;
$defaultDropdownMenuFontColor: #000;
$defaultDropdownMenuBGColor: #fff;

$defaultMenuBlue: #34495e;
$defaultMenuDarkGray_neo: #2b2b2b;
$defultMenuMedGray_neo: #666;
$defultMenuLitGray_neo: #EFEFEF;
$defaultMenuGreen: #888888;
$defaultMenuDropdownBG: #ebeffb;
$defaultMenuGrey: #c9ced2;
$defaultMenuDivider: #ddd;
$defaultMenuWhite: #fff;
$defaultMenuBlack: #000;

$defaultFooterDark: #262729;
$defaultFooterGrey: #3b3c40;
$defaultFooterLight: #c1c1c1;

$defaultFooterText: #8E9397;
