@import "redux_shared/mixin/z_index";

@mixin FullContentMask {
  .full-content-mask {
    position: fixed;
    z-index: $z-index-disable-mask-full-body;
    width: 100%;
    height: 100%;
    top: 0; left: 0;
    background-color: rgba(0, 0, 0, .6);
    
    &.hide { display: none; }
  }
}
