@mixin transition-basic($property) {
  transition-property: $property;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
}

@mixin transition-ease-back($property...) {
  transition-property: $property;
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
