$z-index-popup-callout-modal: 1011;
$z-index-sign-in-modal: 1010;
$z-index-promise-modal: 1009;
$z-index-explanation-modal: 1005;
$z-index-image-cropper: 1005;

$z-index-desktop-suggestion: 1001;
$z-index-explanation-video-modal: 1001;

$z-index-navigation: 6;
$z-index-reveal-overlay: 600;
// increased by 1 - to show results for ninjavan details modal
$z-index-inline-callout-modal: 1001;
$z-index-content-modal-overlay: 510;
$z-index-editor-panel: 501;
$z-index-content: 1;

// navigation
$z-index-disable-mask-full-body: 999;
$z-index-nav-dropdown: 990;
$z-index-nav-tutorial-prompt: 980;
$z-index-disable-mask-content: 900;

// content
$z-index-content-tutorial-prompt: 510;
