// Colors
$defaultSiteTextColor: #b1bccf;
$defaultSiteInActiveTextColor: #838ca0;
$defaultSiteActiveTextColor: #fff;
$defaultSiteDisableTextColor: #535a6b;

$defaultMenuBG: #2c3344;
$defaultMenuHeaderBG: #636f8b;
$defaultSubHeaderBG: rgba(99, 111, 139, 0.42);
$defaultMenuItemActive: #d62a41;
$defaultLinkTextColor: #5ca3b7;
$defaultPopupMenuBG: #3c4253;
$builderTooltipBG: #212734;
$builderTooltipMargin: 15px;

$defaultSideMenuHoverBG: #444c5f;

$defaultDdMenuBG: #e8edf1;
$defaultDdMenuTextColor: #333333;
$defaultDdMenuHoverBG: #e8e8e8;

$defaultFooterDarkGrey: #4E4F52;
$defaultFooterProductpageNav: #BABABA;
$defaultFooterHomepageNav: #848484;

$defaultProductHoverBG: #384052;
$defaultProductItemName: #c4cbdc;
$defaultProductItemDetails: #838ca0;

$defaultModalImageBG: #eeeeee;
$defaultModalLabelText: #666666;

$defaultBlack: #222222;
$defaultGrey: #666666;
$defaultSliver: #aaaaaa;
$defaultGreen: #69be7b;
$defaultBlue: #4FA5E6;
$defaultRed: #d62a41;
$defaultOrange: #f5a623;

//others
$navbar-width : 280px;
$colorWhite : #fff;
$colorBlack : #000;
$colorDarkGreenGrey:#283630;
$colorDarkGrey: #696969;
$colorMedDarkGrey: #303030;
$colorStrongDarkGrey: #1F1F1F;

//nav items
$menuInactiveText : #8b91a0;
$menuActiveText : #e9e9ea;
$menuHoverText: #e9e9ea;

$menuActiveBorder: #494d5a;
$menuBG: #2c3344;
$menuInactiveBG: #262a33;

$contentMenuActiveBG: #606060;

$submenuBG: #6A6A6A;
$submenuBorder: #8D8D8D;
$submenuColor: #F4F4F4;

$templateBG: #282c37;

$overall-font-color : #585858;

$subtitleColor: #2e8284;

//buttons
$grey-btn: #666666; 
$grey-btn-border: #7c7c7c;
$grey-btn-hover: #504f4f;

$facebook-btn: #4e64ad;
$facebook-btn-border:#8796c8;

$google-btn: #dd4b39;
$google-btn-border:#e98579;

//sub bar
$colorGrey : #f5f5f5;
$colorInactive: #BDBDBD;
$colorActive: #333333;

//web builder left-col
$leftColBG: #FAFAFA;
$lightGreyBorder: #F2F2F2;

$builderHeight: 800px;

//suggested storename
$suggestedPanelMainColor: #E6E6E6;
$suggestedOdd: #FAFAFA;

$builder-add-content-pane-width: 380px;

//editor tools
$colorToolInputGroup: #444444;
$editLinkPanelHeight: 240px;
