@mixin ActionsDropdownPostItem {
  .actions-dropdown-post-link-item {
    @import "../../components_shared/action_dropdown_item";

    @include action-dropdown-item;

    &.disabled {
      @include disabled
    }
    .button-class-loader
    {
      padding-left: 6px;
      .shpmtc-loader__spin {
        width: 18px;
        height: 18px;
      }
    }
  }
}
