.upgrade {
  .cases {
    .features-list-block {
      padding: 1.625em;
      .ico-available {
        font-size: 1.6em;
        padding-left: 6px;
        padding-right: 12px;
      }
      .entry {
        font-size: 14px;
        line-height: 2.2em;
      }
    }
  }
}
