.upgrade {
  .cases {
    .pricing-block {
      .dallar {
        font-size: 36px;
        line-height: 36px;
      }
      .saved-money {
        width: 112px;
        height: 29px;
        line-height: 29px;
        font-size: 13.97px;
        margin-top: 1em;
        margin-bottom: 1em;
      }
      .note {
        font-size: 13.97px;
        margin-top: 1em;
        margin-bottom: 1em;
      }
      .btn.try-it {
        border-radius: 30px;
        width: 219px;
        height: 40px;
      }
    }
  }
}
