@mixin ImportResultPage {
  .import-result-page {
    
    .modal-content {
      width: 560px;
      padding: 15px 30px 0;
    }

    h4 {
      font-size: 1rem;
      color: #222;
      text-align: left;
      &:before {
        font-size: 30px;
        vertical-align: middle;
        margin: -3px 2px 0 0;
      }
    }

    .success {
      h4:before { color: #52ca3d; }
      & + .buttons { margin-top: 10px; }
      img.import-complete {
        height: 40px;
      }
    }

    .failure {
      h4:before { color: #ffb817; }
      margin-bottom: 20px;
      .padding {
        background-color:  #fff9e6;
        padding: 20px;
      }
      .detail {
        $every-line-height: 20px;
        $max-line-display: 8.5;
        overflow: auto;
        max-height: $every-line-height * $max-line-display;
        line-height: $every-line-height;
        p {
          line-height: inherit;
          white-space: pre;
          text-align: left;
          margin: 0;
          font-size: .875rem;
          color: #6b4a00;
          &.title {
            width: 100%;
            white-space: normal;
          }
        }
      }
    }

    .buttons {
      svg {
        display: inline-block;
        vertical-align: middle;
        height: 32px;
        width: 32px;
        margin-right: 5px;
      }
      button, a {
        display: inline-block;
        width: 200px;
        line-height: 36px;
        padding: 4px 12px;
        border: 1px solid #ced0da;
        opacity: .8;
        font-size: .875rem;
        color: #222;
        -webkit-border-radius: 4px;
                border-radius: 4px;
        -webkit-transition: all .3s ease;
           -moz-transition: all .3s ease;
            -ms-transition: all .3s ease;
             -o-transition: all .3s ease;
                transition: all .3s ease;
        &:hover { opacity: 1; }
        &.import-again {
          svg {
            fill: #4ba4ea;
          }
        }
        &.failure-download {
          svg {
            fill: #e11a36;
          }
        }
        &.confirm {
          color: #fff;
          background-color: #4ba4ea;
        }
      }
      .small-6 {
        margin-bottom: 16px;
        &:nth-child(odd) { text-align: left; }
        &:nth-child(even) { text-align: right; }
      }
    }

  }
}
